.App {
  text-align: center;
  background-color: lightgray;

}
.modal {
  Position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;

}
.modal-content {
  width: 350px;
  background-color: lightgray;
}
.modal-header, .modal-footer {
  padding: 10px;
  background-color: lightgray;
}
modal-title {
  margin: 0;
  background-color: lightgray;
}
.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background-color: lightgray;
}

.Button {
  text-align: center;
}
.AnswerButton {
  text-align: center;
}
.timer {
  color: red;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}
.li {
  padding: 10px;
}
.answers {
  text-align: left;
  padding: 10px;

}
.correct_answers {
  text-align: left;
  padding: 10px;
  color: green;
  font-weight: bold;
  font-family:Georgia, 'Times New Roman', Times, serif;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  height:10vh;
  background-color: lightgray;
}
.content {
  height:95vh;
}
.App-header {
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
 

}

.App-link {
  color: #61dafb;
}
.rowL {
  float: left;
  width: 15%;
  padding: 10px;
  background-color: lightgray;
  
  
}
.rowR {
  float: left;
  width: 85%;
  padding: 10px;
  background-color: lightgray;
  font-weight: bold;
  font-family:Georgia, 'Times New Roman', Times, serif;
  
  
}
.headerTitle {
  color: rgb(12, 11, 12);
}
.columnL {
  float: left;
  width: 15%;
  padding: 10px;
  background-color: lightgray;
  height: 800px;  
  
}
.columnR {
  float: left;
  width: 85%;
  padding: 10px;
  background-color: white;
  height: 800px;  
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  
}
.rowC{display:flex; flex-direction:row;}

.questions {
  background-color: white;

}
.question {
  text-align: center;
  padding: 10px;
  color: black;
  font-weight: bold;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: '5em'

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
